@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Genos:wght@300&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

body {
    background-image: url("https://images.wikidexcdn.net/mwuploads/esssbwiki/thumb/d/d0/latest/20180818070350/Estadio_Pok%C3%A9mon_SSBU.jpg/1200px-Estadio_Pok%C3%A9mon_SSBU.jpg");
    font-family: 'Quicksand', sans-serif;
}

.header__navbar {
    background-color: rgb(64, 17, 182);
    width: 99%;
    display: flex;
    justify-content: inline-flex;
}

.header__navbar figure img {
    max-width: 60px;
    margin: -20px;
    margin-bottom: -10px;
}

.main__section h2 {
    font-size: 18px;
    text-align: center;
    width: 20%;
    margin-top: 1px;
    margin-left: 280px;
    background-color: rgb(184, 32, 32);
    text-shadow: 1px 1px white;
    font-weight: 600;
}

#imgmain img {
    width: 250px;
    margin-left: 250px;
}

#tablemain {
    margin-left: 700px;
    background-color: rgb(184, 32, 32);
    font-size: 20px;
    margin-top: -350px;
    text-align: center;
    font-weight: 200;
}

.footer {
    background-color: rgb(64, 17, 182);
    width: 99%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#footerh2 {
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px black;
    margin-top: 60px;
}

.footer__figure img {
    width: 120px;
    height: 120px;
    background-color: rgb(95, 125, 196);
    display: inline-flex;
    margin: 30px;
}

.footer__figure img:hover {
    font-weight: 900;
    background-color: rgb(184, 32, 32);
}